In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

----



# >>> 8.

In [2]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e8_p3_1.csv')
df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,Y
0,0.506278,-0.231322,0.759771,-0.172927,-0.687524,-0.556815,-1.381369,1.633690,-0.869129,0.370614,0.615057,-0.416594,-1.175980,0.113494,-0.539230,1
1,0.017220,1.530047,0.676838,1.533623,-0.516027,0.949166,-1.180669,1.895021,-1.211768,-1.081109,-1.067039,-0.611829,0.846854,-0.812381,0.823546,0
2,1.436089,0.038078,-0.120501,0.914955,-1.504149,0.443893,-0.696385,0.245013,1.221166,-1.387287,-1.762048,-0.556466,0.130129,0.517210,1.056730,0
3,-0.926337,-0.665242,-0.106853,-1.111627,-0.127867,0.746742,-0.345943,0.848144,0.374944,-0.951299,1.097359,0.754369,-0.221183,-0.430509,0.756875,1
4,-0.350953,-0.044709,-0.421777,1.359772,-1.619690,-0.645908,-1.717975,-0.598477,1.026014,-0.134644,-0.988988,0.513048,-0.886113,0.247288,-0.016664,0


3-1 y컬럼을 종속변수로하는 로지스틱회귀 모형을 만들 떄 유의미하지 않은 변수의 개수는? % 상수항은 추가하여 모델링하라

3-2 유의한 변수들 만으로 다시 모델링을 해서 X를 포함하는 독립변수들의 회귀계수 합계를 소숫점 이하 3째 자리까지 구하여라

3-3 3-2번의 모델 결과에 대해 X뒤의 숫자가 가장 낮은 컬럼이 5단위 늘어나면 오즈비 몇 배로 변화?

In [3]:
df = pd.DataFrame(
[[124	,81.69	,64.5	,118],[150	,103.84	,73.3	,143],[128	,96.54	,68.8	,172],[134	,95.15	,65.0	,147],[110	,92.88	,69.0	,146]], columns = ['PIQ','Brain','Height','Weight'])
df

   PIQ   Brain  Height  Weight
0  124   81.69    64.5     118
1  150  103.84    73.3     143
2  128   96.54    68.8     172
3  134   95.15    65.0     147
4  110   92.88    69.0     146

3-4 PIQ를 예측하는 다중선형회귀 모형을 만들고 Brain의 회귀 계수를 구하여라

3-5 모델의 r2를 구하여라

3-6 위에서 계산한 모델을 이용하여 뇌크기 90 키 70 몸무게 150일 때 지능을 예측하라

----

# >>> 7

In [4]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_1.csv')
df.head()

,Target,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21
0,21.650072,0.496714,-0.138264,0.647689,1.523030,-0.234153,-0.234137,1.579213,0.767435,-0.469474,...,-0.465730,0.241962,-1.913280,-1.724918,-0.562288,-1.012831,0.314247,-0.908024,-1.412304,1.465649
1,-19.469855,-0.225776,0.067528,-1.424748,-0.544383,0.110923,-1.150994,0.375698,-0.600639,-0.291694,...,-0.013497,-1.057711,0.822545,-1.220844,0.208864,-1.959670,-1.328186,0.196861,0.738467,0.171368
2,-24.475600,-0.115648,-0.301104,-1.478522,-0.719844,-0.460639,1.057122,0.343618,-1.763040,0.324084,...,0.611676,1.031000,0.931280,-0.839218,-0.309212,0.331263,0.975545,-0.479174,-0.185659,-1.106335
3,13.476831,-1.196207,0.812526,1.356240,-0.072010,1.003533,0.361636,-0.645120,0.361396,1.538037,...,-2.619745,0.821903,0.087047,-0.299007,0.091761,-1.987569,-0.219672,0.357113,1.477894,-0.518270
4,3.505322,-0.808494,-0.501757,0.915402,0.328751,-0.529760,0.513267,0.097078,0.968645,-0.702053,...,-1.463515,0.296120,0.261055,0.005113,-0.234587,-1.415371,-0.420645,-0.342715,-0.802277,-0.161286

3-1 선형관계 가장 큰 변수 찾아 상관계수를 구하여라

- 0.6270251925517436

3-2 Target 변수를 종속변수로 하여 다중선형회귀모델링을 진행했을 때 v2 컬럼의 회귀 계수는?

- 6.440301364843057


3-3 회귀 계수들이 가지는 p값들 중 최대 값은?

- 0.9265545986906869

In [5]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_t.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

심장병 발병 예측 / 종속변수 target 1: 발병

train 데이터는 앞의 210개 행을, test데이터는 나머지 부분을 사용한다


3-4 train 데이터로 target을 종속변수로 로지스틱 회귀를 진행할 때 age 컬럼의 오즈비를 구하여라

- 0.9562078844664191

3-5 train으로 로지스틱 회귀 진행했을 경우 잔차 이탈도 (residual deviance)를 계산하라

- 144.205620063278

3-6 train으로 로지스틱 회귀 진행했을 경우 로짓 우도값을 도출하라

3-7 test 데이터의 독립변수로 target 예측 후 오류율을 구하여라

- 0.1954022988505747

----

# >>> 6

A 도시의 남성 600명과 여성 550명이 있다. 남성들 중 흡연자 비율은 0.2이며 여성들 중 흡연자 비율은 0.26이다.

남성과 여성 간에 흡연 여부에 따른 인구 비율이 다른지 확인하고 싶다. 유의 수준 0.05하 귀무가설에 대해 기각 / 채택 여부와 p-value값을 각각 출력하라

- 기각 0.018786854975740768

In [6]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/28/p7.csv')
df.head()

   age  Cholesterol  weight
0   65         69.0   111.0
1   54        117.0    81.0
2   61         86.2    72.0
3   57         76.0    78.0
4   62        160.0    61.0

연령, 몸무게,콜레스테롤 수치 데이터

age와 Cholesterol을 가지고 weight를 예측하는 선형 회귀 모델을 만들려고한다. age의 회귀 계수를 구하여라

- -0.036101669143864965

age가 고정일 때 Cholesterol와 weight가 선형관계에 있다는 가설을 유의수준 0.05하에 검정하라

- 선형 관계에 있다.

age가 55, Cholesterol가 72.6일때 위 모델을 기반으로 weight값을 예측하라.

- 78.85771011344593

----

# >>> 5

In [7]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_1.csv')
df.head()

       ID  height
0  user_1  164.57
1  user_2  174.99
2  user_3  171.41
3  user_4  162.47
4  user_5  167.11

어느 학교에서 추출한 55명 학생들의 키 정보이다.
이 학생들의 키의 95% 신뢰구간을 구하고자 한다.

55명 학생들의 키에 대한 표본 평균을 구하여라(반올림하여 소숫점 3째자리까지)

- 169.937

t분포 양쪽 꼬리에서의 t 값을 구하여라 (반올림하여 소수4째자리까지)

- 2.0049

95% 신뢰구간을 구하여라(print(lower,upper) 방식으로 출력, 각각의 값은 소숫점 이하 3째자리까지)

- 168.321 171.553

In [8]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_2.csv')
df.head()

  ID      value
0  A  84.179434
1  A  93.971003
2  A  62.140957
3  A  72.911723
4  A  79.252747

A,B,C 세 공장에서 생산한 동일한 제품의 길이 데이터 이다. 공장간의 제품 길이 차이가 유의미한지 확인 하려한다.

3 그룹의 데이터에 대해 크루스칼-왈리스 검정을 사용하여 검정 통계량을 반올림하여 소숫점 이하 3자리까지 구하여라

- 6.521

3 그룹의 데이터에 대해 크루스칼-왈리스 검정을 사용하여 p-value를 반올림하여 소숫점 이하 3자리까지 구하여라. 귀무가설과 대립가설중 0.05 유의수준에서 유의한 가설을 출력하라

- 0.038, 대립

----

# >>> 4

In [9]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p3_1_.csv')
df.head()

         학번     학과 성별
0  DFSKJK_1   경영학과  여
1  DFSKJK_2   사회학과  여
2  DFSKJK_3  기계공학과  여
3  DFSKJK_4   경제학과  남
4  DFSKJK_5  기계공학과  여


어느 대학교의 신입생의 학과별 성별에 대한 데이터이다. 

이 데이터를 바탕으로, 학생들의 학과와 성별이 서로 독립적인지 여부를 확인하기 위해 카이제곱 독립성 검정을 실시 하려한다.


학과 평균 인원에 대한 값을 소숫점 이하 3자리까지 구하여라

- 170.333

카이제곱검정 독립성 검정 통계량을 소숫점 이하 3자리까지 구하여라

- 5.646

카이제곱검정 독립성 검정의 pvalue를 소숫점 이하 3자리까지 구하여라. 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 것을 출력하라

- 0.3421500573497989, 귀무

어느 학교에서 수학 시험을 본 학생 100명 중 60명이 60점 이상을 받았다. 이 학교의 수학 시험의 평균 점수가 50점 이상인지 95%의 신뢰 수준에서 검정하려한다.

검정 통계량을 소숫점 이하 3자리에서 구하시오

- 2.0

pvalue를 소숫점 이하 3자리까지 구하고 귀무가설과 대립가설중 유의한 것을 출력하라

- 0.023

----

# >>> 3

In [10]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_1.csv')
df.head()

       ID     투약전     투약후
0  user_1  55.137  56.106
1  user_2  66.584  60.409
2  user_3  52.259  50.639
3  user_4  77.081  69.164
4  user_5  62.677  57.622

다이어트약의 전후 체중 변화 기록이다.

투약 후 체중에서 투약 전 체중을 뺏을 때 값은 일반 적으로 세가지 등급으로 나눈다. 

-3이하 : A등급, -3초과 0이하 : B등급, 0 초과 : C등급. 

약 실험에서 A,B,C 그룹간의 인원 수 비율은 2:1:1로 알려져 있다. 위 데이터 표본은 각 범주의 비율에 적합한지 카이제곱 검정하려한다.

A등급에 해당하는 유저는 몇명인지 확인하라

- 121

카이제곱검정 통계량을 반올림하여 소숫점 이하 3째자리까지 구하여라

- 3.613

카이제곱 검정 p값을 반올림하여 소숫점 이하 3자리까지 구하고, 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 가설을 하나를 선택하시오(귀무/대립)

- 0.164, 귀무

In [11]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2_.csv')
df.head()

     rpm group
0  163.6     A
1  246.9     A
2  234.9     A
3  156.9     A
4  226.6     A

A,B 공장에서 생산한 기계들의 rpm 값들을 기록한 데이터이다. 대응 표본 t 검정을 통해 B공장 제품들이 A 공장 제품들보다 rpm이 높다고 말할 수 있는지 검정하려한다

A,B 공장 각각 정규성을 가지는지 샤피로 검정을 통해 확인하라. (각 공장의 pvalue 출력할 것)

- ShapiroResult(statistic=0.9863898158073425, pvalue=0.397915244102478)
- ShapiroResult(statistic=0.9943947196006775, pvalue=0.9562925100326538)

A,B 공장 생산 제품의 rpm은 각각 정규성을 가지는지 샤피로 검정을 통해 확인하라. (각 공장의 pvalue 출력할 것)

- 0.904

대응 표본 t 검정을 통해 B공장 제품들의 rpm이 A 공장 제품의 rpm보다 크다고 말할 수 있는지 검정하라. pvalue를 소숫점 이하 3자리까지 출력하고 귀무가설, 대립가설 중 하나를 출력하라*

- 0.009